<div style="min-height: 100vh;" class="flex mx-auto bg-gray-800  flex-col justify-center px-6 py-12 lg:px-8" th:fragment="content">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <a href="/"><img class="mx-auto h-32" src="images/logo-light.svg" alt="Mapache Gym"></a>
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-red-500">Login</h2>
  </div>

  <div  class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" th:action="@{/logincheck}" method="POST">
      <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
      <div>
        <label for="email" class="block  font-semibold text-white leading-6 ">Email address</label>
        <div class="mt-2">
          <input id="email" name="email" type="email" autocomplete="email" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block font-semibold leading-6 text-white">Password</label>
          
        </div>
        <div class="mt-2">
          <input id="password" name="password" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
        <div class="text-sm py-2">
          <a href="#" class="text-sm text-white  hover:text-red-500">Olvidaste la contraseña?</a>
        </div>
      </div>

      <div>
        <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign in</button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm">
      <a href="/registro" class="font-bold leading-6 text-white hover:text-red-500">Registrate</a>
    </p>
  </div>
</div>

<script th:fragment="script"></script>