<!DOCTYPE html>
<html
    lang="es"
    style="position: relative; min-height: 100%"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title th:text="${title + ' - MapacheGym'}"></title>

       <!--  <link rel="stylesheet" href="/css/styles.css" /> -->
        <!-- <link rel="stylesheet" href="/css/mapache.css" /> -->
        <link rel="stylesheet" href="css/output.css">
        <link rel="stylesheet" href="css/custom.css">

        <!-- FontAwesome -->
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
            rel="stylesheet"
        />
    </head>
    <body
        class="bg-gradient-to-b from-gray-800 to-gray-900 via-opacity-0 via-opacity-0 bg-no-repeat bg-fixed"
    >
    <div th:if="${showHeader}">
        <header th:replace="~{fragments/header :: header}"></header>
    </div>
    <div>
        <main  th:replace="~{${view} :: content}"></main>  
    </div>
    <div>
        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </div>

    
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- Popper.JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>

    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script th:replace="~{${view} :: script}" />
    </body>
</html>
